.subscribe {
    &__title {
        margin-bottom: 0.5rem;
        color: #fff;
        background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.70) 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &__subtitle {
        margin-bottom: 0;
        opacity: 0.7;
        font-size: 1rem;
    }
    &__form {
        display: flex;
    }
    input {
        margin-right: 0.5rem;
        max-width: 300px;
        width: 100%;
    }

}